:root {
    --main-color: #f872c9;
    --infinte-color: #f872c9;
    --main-text-color: #d852a9;
    --main-text-color2: #9e186f;
    --main-text-color-dark: #f872c9;
    --color-main: #f872c9;
    --color-main-d: #de58af;
    --color-main-l: #ff98ef;
    --color-main-reverse: #780049;
    --color-text: #5a5a5a;
    --color-text-reverse: #b83289;
    --main-text-color-dark: #ab257c;
}
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

* {
     padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

/*navbar*/

header {text-align: center;align-items: center;justify-content: center; }
header > h1 > a {
  color: #fff;
  font-size: 80px;
  text-shadow: 3px 5px 0 rgb(0 0 0 / 20%);
  text-decoration:none;
}
nav#navbar {
  top: 0;
  position: relative;
  width: 100%;
  transition: all 0.5s linear;
  z-index: 1000;
}
ul.menu-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;

}
ul.menu-list li {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
ul.menu-list li.logo {
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s linear;
  right: 0;
  font-size: 22px;
  white-space: nowrap;
  font-size: 14px;
}

ul.menu-list li > a {
  text-decoration: unset;
  color: #fff !important;
  transition: 0.2s linar;
  text-transform: uppercase;
}
body.fixed-nav nav#navbar {
  position: fixed;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
body.fixed-nav li.logo { max-width: 300px;font-size: 22px }
#navbar .dropdown:hover .dropdown-content{right: 20%;}
 
.s{
background-color: white;
position: relative;
  display:flex;
  grid-gap: 27px;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-family: 'Lato' !important;
  }

  .s ul  { float: left;list-style-type: none;
    padding-left: 0;
    text-align: center;
    width: 100%;
    background-color: white;
    position: absolute;}

.s .login li{ display: inline-block;}
.login i {position: relative; left: 225px; padding: 9px; font-size: 22px; color: black !important;}
/*search box*/
.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

input,
button {
  font-size: 20px;
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 550px;
  padding:10px;
  margin: -83px auto 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px 0px var(--color-main-l), 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
  height: 85px;
  margin-top: -40px;
}

.td input[type="text"] {
  width: 100%;
  height: 55px;
  font-size: 50px;
  color: var(--color-main-reverse);

}

input[type="text"]::placeholder {
  color: var(--main-text-color);
  font-size: 40px;
  padding: 5px;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

#cover button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
  border-radius: 0;
}

.td #s-circle {
  position: relative;
  top: -22px;
  left: 0;
  width: 45px;
  height: 45px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid var(--color-main-d);
  border-radius: 50%;
  transition: 0.5s ease all;
}

#cover button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 19px;
  color: var(--color-main-d);
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

#cover button span:before,
.td button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: var(--color-main-d);
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: var(--color-title);
  border-radius: 20px;
}

#s-cover:hover span {
  top: 65%;
  left: 56px;
  width: 20px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: var(--color-title);
}


.s .dropdown {
  left: 235px;
}
  
.login button i {
  position: static;
  left: 230px;
  padding: 9px;
  font-size: 22px;
  color: black !important;}

  .menu-list #cover {display: none;}

.card1 img { margin: 0; height: 115px; width: cover;}
.card1 .card-body { padding: 0;padding-top: 8px;}
.text{  
    font-size: 27px;
    text-align: center;
    line-height: 2;
    padding: 37px;
    font-family: ui-serif;}

.text2{ background: black; 
     color: white;
       text-align: center;
       font-weight: 600;}


.container {align-items: center;}
.container ul{
  display: flex;
  align-items: flex-end;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container ul li{
  text-decoration: none;
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: flex;
    transition: 0.3s;
}
  #menu-list{
    top:-10px;
  display:block;
  width:100%;
  width:100%;
  text-align:center;
  position: relative;
margin:0 auto;
  z-index: 3;
  }
  /*Strip the ul of padding and list styling*/
  #menu-list ul {
    list-style-type:none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width:100%;
  position: absolute;
  background: black;
  }  
#menu-list li {display:inline-block;font-size: 18px;}
  
/*Style for menu links*/
  #menu-list li a {
  display:block;
  min-width:180px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform:uppercase;
  text-decoration: none;
  margin-left:-5px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  }
  
  /*Hover state for top level links*/
 #menu-list li  a:hover { color: var(--color-text-reverse);}
 #menu-list li  .dropdown-content a{color: #000;}
#menu-list li  .dropdown-content a:hover{color: var(--color-text-reverse);}

  /*Style for dropdown links*/
#menu-list li:hover ul a {
    background: var(--color-text-reverse);
    color: #2f3036;
    height: 40px;
    line-height: 40px;
  }
   
  /*Hide dropdown links until they are needed*/
#menu-listnu li ul { display: none;}
  /*Make dropdown links vertical*/
#menu-list li ul li {display: block;float: none;}
  /*Prevent text wrapping*/
#menu-list li ul li a { width: auto; min-width: 100px; padding: 0 20px;}
  /*Style 'show menu' label button and hide it by default*/
#menu-list .show-menu {
    text-decoration: none;
    color: #fff;
    background: black;
    text-align: center;
    padding: 10px 15px;
    display: none;
  cursor: pointer;
  text-transform: uppercase;
  }
.mobile-menu .show-menu span{ padding-left: 25px;}
  /*Hide checkbox*/
.mobile-menu input[type=checkbox]{ display: none; }
  
/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type=checkbox]:checked ~ #menu{display: block; }
  .mobile-menu .search-box {display: none;}
  .input-search::placeholder{
  color:var(--color-main-l);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
  }
  .btn-search{
  width: 50px;
  height: 48px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  pointer-events: painted;  
  }

  .input-search:focus{
      background-color: transparent;
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      border: none !important;
      }    
.mobile-menu {
        display:block;
        width:100%;
        width:100%;
        text-align:center;
        position: relative;
        margin:0 auto;
        z-index: 3;
        }
      
        /*Strip the ul of padding and list styling*/
.mobile-menu ul {
          list-style-type:none;
        margin: 0 auto;
        padding-left:0;
        text-align:center;
        width:100%;
        position: absolute;
        background: black;
        }
.mobile-menu li {display:inline-block;}
        
        /*Style for menu links*/
.mobile-menu li a {
          display:block;
          text-align: center;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: #fff;
        text-transform:uppercase;
          text-decoration: none;
        margin-left:-5px;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        cursor: pointer;
        }
        
        /*Hover state for top level links*/
     .mobile-menu li  a:hover { color: var(--color-text-reverse);}
    .mobile-menu li  .dropdown-content a{color: #000;}
    .mobile-menu li  .dropdown-content a:hover{color: var(--color-text-reverse);}
        /*Style for dropdown links*/
        .mobile-menu li:hover ul a {
          background: var(--color-text-reverse);
          color: #2f3036;
          height: 40px;
          line-height: 40px;
        }
         
      /*Hide dropdown links until they are needed*/
    .mobile-menu li ul { display: none;}
        /*Make dropdown links vertical*/
    .mobile-menu li ul li {display: block;float: none;}
        /*Prevent text wrapping*/
    .mobile-menu li ul li a { width: auto; min-width: 100px; padding: 0 20px;}  
        /*Style 'show menu' label button and hide it by default*/
    .mobile-menu .show-menu {
          text-decoration: none;
          color: #fff;
          background: black;
          text-align: center;
          padding: 10px 15px;
          display: none;
        cursor: pointer;
        text-transform: uppercase;
        }
        
    .mobile-menu .show-menu span{ padding-left: 25px;}
        /*Hide checkbox*/
    .mobile-menu input[type=checkbox]{ display: none; }
        /*Show menu when invisible checkbox is checked*/
    .mobile-menu input[type=checkbox]:checked ~ #menu{display: block; }  
.logo{font-size: 30px;font-weight: bold;  color: var( --main-text-color);  font-family: cursive;    text-shadow: 2px 2px 15px var(  --main-text-color);position: relative;right: 190px;;}

.dropdown {position: relative;display: inline-block; }
.dropdown-content {display: none;position: absolute;background-color: #f9f9f9;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 30000; }
.dropdown-content a {
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  width: 137px;
  }
.dropdown-content a:hover {color: var( --color-text-reverse)}
.dropdown:hover .dropdown-content {display: block;}

 #menu {
    vertical-align: center;
    text-align: center;
    width: 100%;
    transition: height 0.3s linear 0s; }
  nav .search-box{display: none;}
    
/*currency*/
 
.layered-currency-switcher {
    width: auto;
    float: right;
    padding: 0 0 0 50px;
    margin: 0px;
}

.layered-currency-switcher li {  display: block; float: left;font-size: 15px; margin: 0px;}
.layered-currency-switcher li button.currency-switcher-btn {
    width: auto;
    height: auto;
    margin-bottom: 0px;
    background: #fff;
    font-family: Arial!important;
    line-height: 18px;
    border: 1px solid #dadada;
    border-radius: 25px;
    color: #9a9a9a;
    float: left;
    font-weight: 700;
    margin-left: -46px;
    min-width: 90px;
    position: relative;
    text-align: center;
    text-decoration: none;
    padding: 10px 11px 10px 49px
}
.layered-currency-switcher li button.currency-switcher-btn:focus {
    outline: 0;
    -webkit-outline: none;
    -moz-outline: none;
    -o-outline: none
}

.layered-currency-switcher li button.currency-switcher-btn:hover {
    background: #ddf6cf;
    border-color: #a9d092;
    color: #89b171
}
.layered-currency-switcher li button.currency-switcher-btn span { display: none}
.layered-currency-switcher li button.currency-switcher-btn:first-child {border-radius: 25px}
.layered-currency-switcher li button.currency-switcher-btn.selected {
    background: #de4c39;
    border-color: #de4c39;
    color: #fff;
    z-index: 99;
    padding-left: 23px!important;
    padding-right: 23px!important
}
.layered-currency-switcher li button.currency-switcher-btn.selected span {display: inline-block}
.doubly,
.money {
    position: relative;
    font-weight: inherit !important;
    font-size: inherit !important;
    text-decoration: inherit !important;
}
.doubly-message { margin: 5px 0}

.doubly-wrapper {float: right;position: relative;left: 233px;}
.doubly-float {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: auto;
    z-index: 100000;
}

select.currency-switcher {
    margin: 0px;
    position: relative;
    top: auto;
}
select.currency-switcher {display: none}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "Helvetica Neue", Arial;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: 40px;
    padding-left: 12px;
    padding-right: 30px;
    position: relative;
    text-align: left!important;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto
}
.nice-select:hover {border-color: #dbdbdb}

.nice-select.open,
.nice-select:active,
.nice-select:focus {border-color: #88bfff}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: "";
    display: block;
    height: 5px;
    box-sizing: content-box;
    pointer-events: none;
    position: absolute;
    right: 14px;
    top: 16px;
    -webkit-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    width: 5px
}

.nice-select.open:after {-webkit-transform: rotate(-135deg);transform: rotate(-135deg)}
.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    z-index: 1000000 !important;
}
.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none
}
.nice-select.disabled:after { border-color: #ccc}
.nice-select.wide {width: 100%}
.nice-select.wide .list { left: 0!important; right: 0!important}
.nice-select.right { float: right}
.nice-select.right .list {left: auto;right: 0;width: auto;}
.nice-select.small {font-size: 12px; height: 36px;line-height: 34px}
.nice-select.small:after {height: 4px;width: 4px}
.flags-India,
.flags-United-States {width: 30px;height: 20px}
.nice-select.small .option {line-height: 34px;min-height: 34px}

.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, .11);
    box-sizing: border-box;
    margin: 4px 0 0!important;
    opacity: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    max-height: 260px;
    left: 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(.75) translateY(-21px);
    transform: scale(.75) translateY(-21px);
    transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 100000
}

.nice-select .current img,
.nice-select .option img {vertical-align: top;padding-top: 10px}
.nice-select .list:hover .option:not(:hover) { background-color: transparent!important}
.nice-select .option {
    font-size: 13px !important;
    float: none!important;
    text-align: left !important;
    margin: 0px !important;
    font-family: Helvetica Neue, Arial !important;
    letter-spacing: normal;
    text-transform: none;
    display: block!important;
    cursor: pointer;
    font-weight: 400;
    line-height: 40px!important;
    list-style: none;
    min-height: 40px;
    min-width: 55px;
    margin-bottom: 0;
    outline: 0;
    padding-left: 18px!important;
    padding-right: 52px!important;
    text-align: left;
    transition: all .2s
}

.nice-select .option.focus,
.nice-select .option.selected.focus,
.nice-select .option:hover {background-color: #f6f6f6}
.nice-select .option.selected {font-weight: 700}
.nice-select .current img { line-height: 45px}
.nice-select.slim {
    padding: 0 18px 0 0;
    height: 20px;
    line-height: 20px;
    border: 0;
    background: 0 0!important
}
.nice-select.slim .current .flags { margin-top: 0 !important}
.nice-select.slim:after { right: 4px; top: 6px}
.flags {
    background-image: url("https://i.imgur.com/eeOLUGG.png");
    background-repeat: no-repeat;
    display: block;
    margin: 10px 4px 0 0 !important;
    float: left
}

.flags-United-States {background-position: -365px -5px}
.flags-India { background-position: -445px -275px}
.flags-small {
    background-image: url("https://i.imgur.com/kAsOZlw.png");
    background-repeat: no-repeat;
    display: block;
    margin: 5px 3px 0 0 !important;
    border: 1px solid #fff;
    box-sizing: content-box;
    float: left
}

.nice-select.open .list .flags-small { margin-top: 15px !important}
.flags-small.flags-India {
    width: 15px;
    height: 10px;
    background-position: -165px -90px
}

.flags-small.flags-United-States {width: 15px; height: 9px; background-position: -75px -160px}

.doubly-float .nice-select .list {top: -90px; left: 0; right: auto}
.nice-select,
.nice-select .list {background: #FFFFFF;}
.nice-select .current,
.nice-select .list .option {color: #403F3F;}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #F6F6F6;
}

.doubly-message {
    background-color: #333333 !important;
    color: #FFFFFF !important;
    border-radius: 5px;
    padding: 3px 10px;}
  
.doubly-wrapper .nice-select .current { font-family: "Montserrat";}
.nice-select .current {  color: #000 !important;}
.nice-select:after { border-color: #000;}
.is-light .nice-select .current {  color: #fff !important;}
.is-light .nice-select:after {  border-color: #fff;}
.site-nav--mobile.text-right .doubly-wrapper {
        position: absolute;
        right: 5px;
        top: 60px;
		margin: 40px;
    }
.col-xs-12 button {font-size: 20px; font-weight: 500;
	position: relative;
    cursor: pointer;
    background-color: white;
    font-family: inherit;
    cursor: pointer;
    color: var( --color-text-reverse) !important;
	white-space: nowrap;
	padding: 8px;
	border-radius: 0;
	}


/* Start form  attributes */
.modal-body form {
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
}
/* form Container */
form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
      margin: 0 auto;
}

/* the header form form */
header {text-align: center;}
/* Login title form form */
header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
header p { letter-spacing: 0.05em}

.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}
.two {background-image: linear-gradient(-225deg, var( --main-text-color) 50%, var(--color-main-l) 50%); z-index: 400000000000;
}

/* Show/hide password Font Icon */
#eye {
  color: #333;
  margin: 5.9px 0 0 0;
  margin-left: -55px;
  padding: 22px;
  border-radius: 0px 5px 5px 0px;
  position: relative;
  cursor: pointer;
}
/* inputs form  */
.modal-body input[class="form-input"]{
  height: 60px;
  margin-top: 2%;
  font-family: 'Abel', sans-serif;
  color: #5E6472;
  outline: none;
  border: 1px solid var(--color-main-l);
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;

}
/* focus  */
input:focus { transform: translateX(-2px) ;border-radius: 5px;}

.one button {
    display: inline-block;
    color: #252537;
    height: 50px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid var( --color-text-reverse);
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
}
.field-set button {left:18%; position: relative; padding: 15px;}
/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    margin-left: 2%;
}
/*       Forgot Password button FAF3DD  */
.frgt-pass {background: transparent;}

/*     Sign Up button  */
.sign-up {background: #B8F2E6;}
/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}
/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
	color: var( --color-main-reverse);
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

.one .glyphicon-remove{
    left: 298px; font-size: 30px; color:  var(--color-main-reverse)}
.one .modal-title {position: relative;right: 15%; font-size: 44px;}
.modal-open .modal {z-index: 80000000;}

  .right_conatct_social_icon{ background: linear-gradient(to top right, var( --main-color) -5%, var(--color-text-reverse) 100%);
  }
  .contact_us{ margin-bottom: 50px;}
  .contact_inner{
      background-color: #fff;
      position: relative;
      box-shadow: 13px 9px 17px var( --color-main);
      border-radius: 25px;
margin-top: 10%;  }
  .contact_field{ padding: 60px 340px 90px 100px;}
  .right_conatct_social_icon{ height: 100%; }
  
  .contact_field h3{
     color: #000;
      font-size: 40px;
      letter-spacing: 1px;
      margin-bottom: 10px
  }
  .contact_field p{
      color: var( --color-text);
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 35px;
  }
  .contact_field .form-control{
      border-radius: 0px;
      border: none;
      border-bottom: 1px solid var(  --color-main-reverse);
  }
  .contact_field .form-control:focus{
      box-shadow: none;
      outline: none;
      border-bottom: 2px solid var(  --color-main-reverse);
  }
  .contact_field .form-control::placeholder{
      font-size: 13px;
      letter-spacing: 1px;
      color: var(  --color-main-reverse);
  }
  
  .contact_info_sec {
      position: absolute;
      background-color: var(--main-text-color-dark);
      right: 1px;
      top: 18%;
      width: 340px;
      padding: 40px;
      border-radius: 25px 0 0 25px;
  }
  .contact_info_sec h4{letter-spacing: 1px; padding-bottom: 15px;color: #000;}
  
  .info_single{margin: 30px 0px; color: white;}
  .info_single i{  margin-right: 15px;}
  .info_single span{  font-size: 14px;letter-spacing: 1px;}
  
  button.contact_form_submit {
      background:  linear-gradient(to top right, var( --main-color) -5%, var(--color-text-reverse) 100%);
      border: none;
      color: #fff;
      padding: 10px 15px;
      width: 100%;
      margin-top: 25px;
      border-radius: 35px;
      cursor: pointer;
      letter-spacing: 2px;
      font-size: 20px;
      font-weight: 600;
  }

  button.contact_form_submit:hover{
    background: white !important;
    color: var(--color-main-reverse);
    border: solid;
  }
  .socil_item_inner li{
      list-style: none;
  }
  .socil_item_inner li a{color: #fff;margin: 0px 13px;font-size: 20px;}
  .socil_item_inner{padding-bottom: 10px;}
  .modal-body form {
    height: auto;
    border-radius: 5px;
    margin: 2% auto;}

/*footer*/

.footer-section {background: #151414; position: relative;}
.footer-cta { border-bottom: 1px solid #373636;}
.single-cta i {
	  color: var( --color-text-reverse);
	  font-size: 30px;
	  float: left;
	  margin-top: 8px;
	}
.cta-text {padding-left: 50px;}
.cta-text h4 {
	  color: #fff;
	  font-size: 20px;
	  font-weight: 500;
	  margin-bottom: 2px;
	}
.cta-text span { color: var(--color-text); font-size: 15px;}


.footer-content { position: relative; z-index: 2;}
	.footer-pattern img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 330px;
	  background-size: cover;
	  background-position: 100% 100%;
	}
.footer-logo { margin-bottom: 30px;}
.footer-logo img {
	max-width: 200px;
	border-radius: 50%;
    max-width: 200px;
    left: 25%;
    position: relative;
	}
.footer-text p {
	  margin-bottom: 14px;
	  font-size: 14px;
	  line-height: 28px;
	}
	.footer-social-icon span {
	  color: #fff;
	  display: block;
	  font-size: 20px;
	  font-weight: 700;
	  font-family: 'Poppins', sans-serif;
	  margin-bottom: 20px;
	}
.footer-social-icon a {color: #fff;font-size: 16px;  margin-right: 15px;}
	.footer-social-icon i {
	  height: 40px;
	  width: 40px;
	  text-align: center;
	  line-height: 38px;
	  border-radius: 50%;
	}
.facebook-bg{background: #3B5998;}
.twitter-bg{background: #55ACEE;}
.google-bg{ background: #DD4B39;}
.footer-widget-heading h3 {
	  color: #fff;
	  font-size: 20px;
	  font-weight: 500;
	  margin-bottom: 40px;
	  position: relative;
	}
	.footer-widget-heading h3::before {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: -15px;
	  height: 2px;
	  width: 50px;
	  background: var( --color-text-reverse);
	}
.footer-widget ul li {  display: block; float: left; width: 50%; margin-bottom: 12px;}
.footer-widget ul li a:hover{ color: var(--color-main);}
.footer-widget ul li a {color: #878787;text-transform: capitalize;}
.subscribe-form { position: relative; overflow: hidden;}
	.subscribe-form input {
	  width: 100%;
	  padding: 14px 28px;
	  background: #2E2E2E;
	  border: 1px solid #2E2E2E;
	  color: #fff;
	}
.subscribe-form button {
		position: absolute;
		right: 0;
		background: var( --color-text-reverse);
		padding: 15px;
		top: 0;
	}
.subscribe-form button i { color: #fff; font-size: 22px; transform: rotate(-6deg);}
	.copyright-area{ background: #202020; padding: 25px 0;}
	.copyright-text p { margin: 0;font-size: 14px; color: #878787;}
	.copyright-text p a{ color: #ff5e14;}
	.footer-menu li { display: inline-block;margin-left: 20px;}
	.footer-menu li:hover a{color: var(--color-text-reverse)}
	.footer-menu li a { font-size: 14px; color: #878787;}
	.footer-menu ul {position: relative;}
	.subscribe-form  button {border-radius: 0;}
    button {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 50px;
        background-color: var( --color-main-d);
        font-family: inherit;
        color: white;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        background: transparent;
        padding: 0;}

        .one button {
            display: inline-block;
            color: #252537;
            height: 50px;
            background: #fff;
            border-radius: 5px;
            border: 1px solid var( --color-text-reverse);
            cursor: pointer;
            text-align: center;
            transition: all 0.2s linear;
            margin: 7% auto;
        }

        form .con {
            display: flex;
            -webkit-justify-content: space-around;
            justify-content: space-around;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0 auto;
            flex-direction: column;
        }

        .field-set{position:relative;left: 24%;}

         .footer .row {
            margin: 0px !important;
            margin-left: 0 !important;}
    
        
/*responsive*/

@media screen and (max-width : 1024px){

.socil_item_inner li a {color: #fff; margin: 1px 7px;font-size: 20px;}
	.default-btn, .hover-btn {width: auto;}
	.card {height: 440px;}
	.mobile-menu li {width: 127px;}
     .default-btn, .hover-btn {width: auto;}
    .card {height: 440px;}
    .mobile-menu li {width: 103px; }
    .input-search {width: 280px}
    body.fixed-nav li.logo {font-size: 13px;}
    .contact_field {padding: 0px 250px 43px 15px;}

}

@media (max-width:912px){
.col-md-2{ right: -15px;}
.socil_item_inner li{margin: -4px;}
.contact_info_sec {right: -12px;width: auto;}
.contact_field { padding: 120px 163px 30px 25px;}
.contact_inner{box-shadow: none;}
.logo {font-size: 16px;}
.socil_item_inner li {
  max-width: 30px;}
  .doubly-wrapper{left: 215px;}
  .login i {padding: 7px;left: 221px;}
}

@media screen and (max-width : 766px){
  ul.menu-list li.logo {
    display: none;}
 
  input,
button {font-size: 13px;}
  .contact_us {height: 710px;}
    .field-set{left: 0;}
    .contact_inner{top:0; border-radius: 0 }
    .contact_info_sec{top:auto; right: auto; border-radius: 0; width: 100%;height: auto;}
    .row {flex-direction: column;}
    .contact_field{padding: 0;}
    .contact_field p{padding: 12px;}
    .col-md-2{display: none;}
    button.contact_form_submit {border-radius:0;}
    .contact_field h3 {font-size: 28px;text-align: center;margin-top: 20px;}
    .login .search-box{display: none;}
.s .login a { left: 0;}
.login i {left: -9px;font-size: 18px;}
h2{font-size: 19px;}
.text{font-size: 16px;}
.mobile-menu .lines {border-bottom: 5px solid #f8f8f8;  border-top: 5px solid #f8f8f8; 
	 content:"";
	 height: 5px; 
  width:35px;
float: right;	
padding: 3px; }
.mobile-menu ul { position: static;display: none; }
.mobile-menu li {  margin-bottom: 6px; }
 .mobile-menu ul li, .mobile-menu li a {  width: 100%;  }
		  /*Display 'show menu' link*/
 .mobile-menu .show-menu {  display:block;  height: 38px;  }
.text2 {font-size: 10px;}
.cart {font-size: 12px;width: 115px;}
.s{justify-content: inherit;}
.search-box{display: none;}
.mobile-menu .search-box {display: inline-block;}
.btn-search:focus ~ .input-search {width: 130px;}
.input-search:focus{ width: 140px;}
.btn-search{height: 35px; width: 35px; top: -9px;}
.input-search {padding:0; height: auto;width: 140px;}
.input-search::placeholder{font-size: 10px; letter-spacing: normal};
.footer-logo img{left: 7%;}
.login .dropdown-content{left: 0;box-shadow: none;font-size: 13px;}
nav  ul  .dropdown-content {position: relative;}
nav  ul  .dropdown-content a {width: auto;}
.doubly-wrapper{left: 10px;}
.default-btn, .hover-btn {font-size: 10px; white-space: nowrap;}
.text-title {font-size: 15px;}
.logo{right: 2px;font-size: 12px;}

  .login button i {font-size: 15px;}
  .s .dropdown {left: 16px;}
  .menu-list #cover {display: block;}
  .tb {position: relative;top:-40px}
  .s #cover {display: none;}
#cover{left: auto;right: auto;margin: 0;height: 48px;width: 327px;position: relative;box-shadow: 0 6px 0px var(--color-main-l), 0 0 0;}
.logo{    right: -14px;
  font-size: 12px;}
  #s-circle{width: 35px;height: 35px;top:-5px} 
  #cover button span {left: 24px; width: 31px;}
    .one button{font-size: 12px; padding: 16px;}
        .one .glyphicon-remove {left: 184px;}
        .button.learn-more{height: 30px;width: 100px;margin-bottom: 30px;}
    .s .login a { left: 0;}
    .s .dropdown {
      left: 3px;}
    .login i {left: -9px;font-size: 13px;}
    .login button i {font-size: 14px;}
    h2{font-size: 19px;}
    .text{font-size: 16px;}
    .mobile-menu .lines {border-bottom: 5px solid #f8f8f8;  border-top: 5px solid #f8f8f8; 
         content:"";
         height: 5px; 
      width:35px;
    float: right;	
    padding: 3px; }
    .mobile-menu ul { position: static;display: none; }
    .mobile-menu li {  margin-bottom: 6px; font-size: 17px; }
     .mobile-menu ul li, .mobile-menu li a {  width: 100%;  }
              /*Display 'show menu' link*/
     .mobile-menu .show-menu {  display:block;  height: 38px;  }
    .text2 {font-size: 10px;}
    .cart {font-size: 12px;width: 115px;}
    .s{justify-content: inherit;}
    .search-box{display: none;}
    .mobile-menu .search-box {display: inline-block;border: 1px solid;height: 24px; background-color: white;}
    .btn-search{height: 30px; width: 30px; top: -3px; font-size: 15px; color: var(--color-main-d);}
    .input-search {width: 140px;position:relative;
      top:-7px; height: 5px; font-size: 14px;}
    .input-search::placeholder{font-size: 10px; letter-spacing: normal; padding: 5px;};
    .footer-logo img{left: 7%;}
    .login .dropdown-content{left: 0;box-shadow: none;font-size: 13px;}
    nav  ul  .dropdown-content {position: relative;}
    nav  ul  .dropdown-content a {width: auto;}
    .doubly-wrapper{left: 1px;}
    .default-btn, .hover-btn {font-size: 10px; white-space: nowrap;}
    .text-title {font-size: 15px;}
    .card {height: 320px};
    .card__price-value{font-size: 15px }
    .col-1-of-3 .card{height: 180px;}
    .col-1-of-3 .card img {height: 180px;}
    .modal-title {
        left: -60px;
        position: relative    }
    h3{font-size: 25px;}
    button.learn-more {
    width: 12rem;height: 36px;}
    button.learn-more .circle{height: 3rem;}
    .card__price-only {font-size: 1rem;}
    .footer-logo img{left: 0px;}
    #navbar .dropdown:hover .dropdown-content{right: 0;}
    #submitbtn {width: auto;}
    .pay {gap: 23px;}
    .pay img {max-width: 50px;}
    body.fixed-nav nav#navbar {position: relative;}
    nav  ul  .dropdown-content {position: relative;}
    nav  ul  .dropdown-content a {width: auto;}
    
     }
    
  